@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #302435;
  padding: 2% 12%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
